# Created by 
# /usr/bin/cfgmaker public@localhost


### Global Config Options

#  for UNIX
# WorkDir: /home/http/mrtg

#  for Debian
WorkDir: /var/www/mrtg

#  or for NT
# WorkDir: c:\mrtgdata

### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

EnableIPv6: no

######################################################################
# System: ip-172-31-7-66
# Description: Linux ip-172-31-7-66 4.15.0-1057-aws #59-Ubuntu SMP Wed Dec 4 10:02:00 UTC 2019 x86_64
# Contact: Me <me@example.org>
# Location: Sitting on the Dock of the Bay
######################################################################


### Interface 1 >> Descr: 'lo' | Name: 'lo' | Ip: '127.0.0.1' | Eth: 'No Ethernet Id' ###
### The following interface is commented out because:
### * it is a Software Loopback interface

# add follows to the end (replace the "Serverworld" to your comunity name)
Target[mem]: .1.3.6.1.4.1.2021.4.6.0&.1.3.6.1.4.1.2021.4.4.0:public@127.0.0.1:::::2
# total memory
MaxBytes1[Mem]: 4047620
# total swap
MaxBytes2[Mem]: 3145724
Unscaled[Mem]: dwmy
Options[Mem]: gauge, growright
YLegend[Mem]: Mem Free(Bytes)
ShortLegend[Mem]: Bytes
kilo[Mem]: 1024
kMG[Mem]: k,M,G,T,P
LegendI[Mem]: Real
LegendO[Mem]: Swap
Legend1[Mem]: Memory Free [MBytes]
Legend2[Mem]: Swap Free [MBytes]
Title[Mem]: Memory Free
PageTop[Mem]: <H1>Memory Free</H1>


Target[Disk]: .1.3.6.1.4.1.2021.9.1.7.1&.1.3.6.1.4.1.2021.9.1.7.1:public@127.0.0.1:::::2
MaxBytes[Disk]: 27740944
kMG[Disk]: k,M,G,T,P
Unscaled[Disk]: dwmy
Options[Disk]: gauge, absolute, growright, nopercent
YLegend[Disk]: Disk Free(Bytes)
ShortLegend[Disk]: Bytes
LegendI[Disk]: / Disk Free [Bytes]
LegendO[Disk]:
Legend1[Disk]: / Disk Free [Bytes]
Legend2[Disk]:
Title[Disk]: Disk Free
PageTop[Disk]: <H1>Disk Free</H1>
